nav {
    height: 50px;
    display: flex;
    align-items: center;
    position: center;
    color: #fff;
    padding: 0 20px;
    width: 100%;
    background-blend-mode:lighten;
    background-color: rgba(11,10, 15, 0.7);
    position:fixed;
    top:0;
    left:0;

}







nav li {
	float:left;	
	padding:0.2cm 0.5cm;
	display: inline-block;
	text-align: center;

}






body {
	margin:0;
	padding:0;
	font-size:20px;
}





.heading {
	background-image:url(https://th.bing.com/th/id/R.4a512bc20481d851f709238ffb4a7dda?rik=%2fCSa1i6moKjAFQ&riu=http%3a%2f%2fi.ytimg.com%2fvi%2fdvb8Tk0FM9w%2fmaxresdefault.jpg&ehk=5B8qSizfnuaF8eFNOwml53fnyF3Nrp6gN%2bRwpUPO%2fdo%3d&risl=&pid=ImgRaw&r=0);
	font-size:90px;
	background-size:cover;
	background-position:center;
	padding:5cm;
	background-color:rgba(122, 255, 122, 0.5);
	background-blend-mode:lighten;
	color:#0000ff;
}






.lastliofnav {

	float:right;
	position:fixed;
	right:3cm;
	background-color:#555;
	background-bend-mode:lighten;
	background-color:rgba(12, 12, 12, 0.6);
	display:inline-block;
	width:300px;


}






.lastliofnav li {

	display:inline-block;
	width:240px;
	border:1px solid black;
	

}






.lastliofnav:hover {
	overflow-y:scroll;
	height:500px;

}


.part1 {
	background-image:linear-gradient(red, orange, yellow,  #aaff00);
	margin:1cm;
	border:3px solid black;
	padding:1cm;
	font-size:28px;
	background-color:rgba(128, 128, 128, 0.5);
	background-blend-mode:lighten;
}




.part2 {
	background-image:linear-gradient(lightgreen, cyan, blue);
	margin:1cm;
	border:3px solid black;
	padding:1cm;
	font-size:28px;
	background-color:rgba(128, 128, 128, 0.5);
	background-blend-mode:lighten;
}


.img {
	float:right;
	padding:0.5cm;
	border:1px solid black;
	margin:0.5cm;

}




.part3 {
	background-image:linear-gradient(violet, magenta, pink);
	margin:1cm;
	border:3px solid black;
	padding:1cm;
	font-size:28px;
	background-color:rgba(128, 128, 128, 0.5);
	background-blend-mode:lighten;
}

footer {
	background-color:#000;
	color:#fff;
	margin:0;
	padding:1cm;
}



.snapchat {
	background-color:#ffff00;
	padding:5px;
	margin:1cm 1cm 0 1cm;
}



.mail {
	background-color:#aaffaa;
	
}

svg: hover {
	
}

footer li {
	float:left;
	padding-right:20px;
}



.mailtxt {
	padding-left:15px;
}

svg {
	margin-bottom:0;
	margin-top:1cm;
}



.footer-list li {
	float:right;

}

nav a {
	color:#fff;
}


.part5 {
	background-image:linear-gradient(#777, #aaa, #fff);
	margin:1cm;
	border:3px solid black;
	padding:1cm;
	font-size:28px;
	background-color:rgba(128, 128, 128, 0.5);
	background-blend-mode:lighten;
}


.part4 {
	background-image:linear-gradient(#ffaaaa, brown, maroon, red);
	margin:1cm;
	border:3px solid black;
	padding:1cm;
	font-size:28px;
	background-color:rgba(128, 128, 128, 0.5);
	background-blend-mode:lighten;
}

.github {
	color:#fff;

}

.part6 {
	background-image:linear-gradient(orange, yellow, #aaff00, green);
	margin:1cm;
	border:3px solid black;
	padding:1cm;
	font-size:28px;
	background-color:rgba(128, 128, 128, 0.5);
	background-blend-mode:lighten;
}

.part7 {
	background-image:linear-gradient(cyan, #99aaff, blue, violet, magenta, pink);
	margin:1cm;
	border:3px solid black;
	padding:1cm;
	font-size:28px;
	background-color:rgba(128, 128, 128, 0.5);
	background-blend-mode:lighten;
}




.part8 {
	background-image:linear-gradient(#777, #aaa, #fff);
	margin:1cm;
	border:3px solid black;
	padding:1cm;
	font-size:28px;
	background-color:rgba(128, 128, 128, 0.5);
	background-blend-mode:lighten;
}

.part9 {	
	background-image:linear-gradient(brown, maroon, red);
	margin:1cm;
	border:3px solid black;
	padding:1cm;
	font-size:28px;
	background-color:rgba(128, 128, 128, 0.5);
	background-blend-mode:lighten;
}


.part10 {
	background-image:linear-gradient(red, #ffaaaa, orange, #ffaa00, yellow, #aaff00, green);
	margin:1cm;
	border:3px solid black;
	padding:1cm;
	font-size:28px;
	background-color:rgba(128, 128, 128, 0.5);
	background-blend-mode:lighten;
}




.part11 {
	background-image:linear-gradient(lightgreen, cyan, #00DBFF, #009FFF, #004CFF, #000AFF, #000692 );
	margin:1cm;
	border:3px solid black;
	padding:1cm;
	font-size:28px;
	background-color:rgba(128, 128, 128, 0.6);
	background-blend-mode:lighten;
}


.part12 {
	background-image:linear-gradient(violet, magenta, pink);
	margin:1cm;
	border:3px solid black;
	padding:1cm;
	font-size:28px;
	background-color:rgba(128, 128, 128, 0.5);
	background-blend-mode:lighten;
}




.part11 {
	background-image:linear-gradient(#777, #888, #999, #aaa, #bbb, #ccc, #ddd, #eee, #fff);
	margin:1cm;
	border:3px solid black;
	padding:1cm;
	font-size:28px;
	background-color:rgba(128, 128, 128, 0.6);
	background-blend-mode:lighten;
}
