nav {
    height: 50px;
    display: flex;
    align-items: center;
    position: center;
    color: #fff;
    padding: 0 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-blend-mode:lighten;
    background-color: rgba(11,10, 15, 0.7);

}


nav li {
	float:left;	
	padding:0.2cm 0.5cm;
	display: inline-block;
	text-align: center;
}

body {
	margin:0;
	padding:0;
	font-size:20px;
}

.heading {
	backgroundimage:url(https://th.bing.com/th/id/R.4a512bc20481d851f709238ffb4a7dda?rik=%2fCSa1i6moKjAFQ&riu=http%3a%2f%2fi.ytimg.com%2fvi%2fdvb8Tk0FM9w%2fmaxresdefault.jpg&ehk=5B8qSizfnuaF8eFNOwml53fnyF3Nrp6gN%2bRwpUPO%2fdo%3d&risl=&pid=ImgRaw&r=0);
	font-size:70px;
	backgrround-size:cover;
	background-position:center;
	padding:5cm;
}
